<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>My Dashboard</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Projects</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>Simple table with project listing with progress and editing options</p>
          <!-- start project list -->
          <app-article-list></app-article-list>
          <!-- end project list -->
        </div>
      </div>
    </div>
  </div>
</div>